<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="jumbotron mt-5 ">
                <h2 class="text-uppercase font-weight-bold">{{carvalue.a_COMPANY}}  {{carvalue.a_MODEL}}</h2>
                <hr>
                <h4>Number of Seats : {{carvalue.a_NUMBER_OF_SEATS}}</h4>
                <h4>Distance Driven : {{carvalue.a_DISTANCE_DRIVEN}} kms</h4>
                <h4>Transmission  : {{carvalue.a_TRANSMISSION| titlecase }} </h4>
                <h4>Fuel Type : {{carvalue.a_FUEL_TYPE | titlecase}}</h4>

            </div>
        </div>
        <div class="col-7">
            <div class="jumbotron mt-5">
                
            
               <form [formGroup]="monthForm" (ngSubmit)="monthAdd()">

                <h3>
                    <label for="months" class="font-weight-bold">Subsciption tenure :</label> 
                </h3>
                
                <select formControlName="month" id="dropdown">
                    <option  selected  >Months</option>
                    <option *ngFor="let mon of months">{{mon}}</option>
                   
                </select> 
                <br>
                <br>
                <h4 > Price : <i class="fa fa-inr"></i>  {{carvalue.a_PRICE}} / month</h4>
                <h5 class="font-weight-light font-italic"> (inclusive of taxes) </h5><br>
                <button class="btn btn-info btn-lg btn-block "  [routerLink]="['/checkout',carvalue.a_ID]" type="submit" > Proceed to Check Eligibility </button>


               </form>
            </div>
        </div>
    </div>
</div>