

<div class="container">
    <div class="row mt-5">
        <div class="col-4">

        </div>
        <div class="col-4">
            <form #registerForm = "ngForm" >

                <h2 class="text-center text-primary">Your Profile</h2>
              
                <br>
                <div class="form-group">
                    <label for="firstname"> Firstname : </label> 
                    <input type="text" class="form-control" id="firstname" name="firstname" required  [(ngModel)]=user.a_FIRST_NAME >
                    
                  </div>
            
                  <div class="form-group">
                    <label for="lastname"> Lastname : </label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required  [(ngModel)]=user.a_LAST_NAME >
                  </div>
            
                <div class="form-group">
                    <label for="email"> Email : </label>
                  <input type="email" class="form-control" id="email" name="email" required email  [(ngModel)]=user.a_EMAIL >
                </div>
              
                
              
              </form>
        </div>
        
    </div>
</div>