<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <div class="jumbotron">
                <h5>User  Details :</h5>
                <hr>
                <h6>Name : {{user.a_FIRST_NAME}}  {{user.a_LAST_NAME}}</h6>
                <h6> Email : {{user.a_EMAIL}}</h6>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron">
                Checkout form 
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                Price details
            </div>
        </div>
    </div>
</div>