<div class="container">
    <div class="row mt-5">
        <div class="col-4">
            <div class="jumbotron">
                <h5>User  Details :</h5>
                <hr>
                <h6>Name : {{user.a_FIRST_NAME}}  {{user.a_LAST_NAME}}</h6>
                <h6> Email : {{user.a_EMAIL}}</h6>
                <br><br>

                <h5>Car  Details :</h5>
                <hr>
                <h6>Name : {{cardetails.a_COMPANY}}  {{cardetails.a_MODEL}}</h6>
                <h6>Distance done : {{cardetails.a_DISTANCE_DRIVEN}} kms</h6>
                <h6>Fuel Type: {{cardetails.a_FUEL_TYPE}} </h6>
                <h6>Transmission :  {{cardetails.a_TRANSMISSION}}</h6>
                <h6>Seats : {{cardetails.a_NUMBER_OF_SEATS}}</h6>
                <h6>Rate : <i class="fa fa-inr"></i>  {{cardetails.a_PRICE}} / month </h6>
            </div>
        </div>
        <div class="col-8 ">
            <div class="jumbotron">
                <h4>Complete Booking:  </h4>
                <hr><br>
                <form [formGroup]="checkoutForm" (ngSubmit)="Book()">

                    <div class="form-group">
                        Tenure : {{this.months}} Months 
                    </div>

                    <div class="form-group">
                        Price : <i class="fa fa-inr"></i> {{this.price}}
                    </div>

                    <div class="form-group">
                        <label for="sd">Start Date :</label>
                        <input  id="sd" [ngClass]="{'is-invalid': checkoutForm.get('startDate').errors && checkoutForm.get('startDate').touched}" class="form-control"
                          placeholder="Start Date" formControlName="startDate" type="date" >
                        <div class="invalid-feedback" *ngIf="checkoutForm.get('startDate').touched && checkoutForm.get('startDate').hasError('required')">Start Date is required</div>
                      </div>

                      

                     

                      

                      <button [disabled]="!checkoutForm.valid"  class="btn btn-success mr-2"  type="submit">Book</button>



                </form>
            </div>
        </div>
      
    </div>
</div>