
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6 mt-5" *ngIf="this.user.a_BOOKING.length==0">


            <h4>No Bookings.... </h4><br>
                <button class="btn btn-outline-success btn-lg" [routerLink]="['/car']"  > FIND YOUR CAR</button>
        </div>

        <div class="col-8" *ngIf="this.user.a_BOOKING.length>0">
            <div class="mt-5">
                <h3>Your bookings :</h3>
                <mat-accordion >  
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                                         
                    <mat-expansion-panel-header>
                    <mat-panel-title>{{car?.a_COMPANY}}  {{car?.a_MODEL}}</mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : 'View Details'}}
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table class="text-capitalize table mt-5">
                        
                        <tr>
                            <td>Fuel Type:</td>
                            <td>{{car?.a_FUEL_TYPE}}</td>
                        </tr>
                        <tr>
                            <td>Transmission :</td>
                            <td>{{car?.a_TRANSMISSION}}</td>
                        </tr>
                        <tr>
                            <td>Seats :</td>
                            <td>{{car?.a_NUMBER_OF_SEATS}}</td>
                        </tr>
                        <tr>
                            <td>From :</td>
                            <td>{{user.a_BOOKING[0].a_LEASE_START_DATE | date}}</td>
                        </tr>
                        <tr>
                            <td>to :</td>
                            <td> {{user.a_BOOKING[0].a_LEASE_END_DATE | date}}</td>
                        </tr>
                        <tr>
                            <td>Tenure :</td>
                            <td>{{user.a_BOOKING[0].a_TENURE}} months</td>
                        </tr>
                        <tr>
                            <td>Amount to be paid :</td>
                            <td><i class="fa fa-inr"></i> {{user.a_BOOKING[0].a_PRICE}} </td>
                        </tr>
                        <tr>
                           <td></td>
                           <td> <button class="btn btn-primary mt-3" [routerLink]="['/car']"  (click)=" deleteBooking()">Delete Booking </button></td>
                        </tr>
        
                        
                    </table>
        
                    </mat-expansion-panel>
                </mat-accordion>  

                

            </div>
        </div>
    </div>
</div>