
<div class="container">
    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-6">
            
            <table class="text-capitalize table mt-5">
                <tr>
                    <td>Name :</td>
                    <td>{{car?.a_COMPANY}}  {{car?.a_MODEL}}</td>
                </tr>
                <tr>
                    <td>Fuel Type:</td>
                    <td>{{car?.a_FUEL_TYPE}}</td>
                </tr>
                <tr>
                    <td>Transmission :</td>
                    <td>{{car?.a_TRANSMISSION}}</td>
                </tr>
                <tr>
                    <td>Seats :</td>
                    <td>{{car?.a_NUMBER_OF_SEATS}}</td>
                </tr>
                <tr>
                    <td>From :</td>
                    <td>{{user.a_BOOKING[0].a_LEASE_START_DATE | date}}</td>
                </tr>
                <tr>
                    <td>to :</td>
                    <td> {{user.a_BOOKING[0].a_LEASE_END_DATE | date}}</td>
                </tr>
                <tr>
                    <td>Tenure :</td>
                    <td>{{user.a_BOOKING[0].a_TENURE}} months</td>
                </tr>

                
            </table>
           


        </div>
    </div>
</div>