<div class="container mt-5">
<div *ngIf="!registerMode"  >
   <div  class="text-center">
    
    <h1 class="text-normal">Get your ride</h1>
    <p  class="lead text-normal">Come on in to view your car .... </p>
    <div class="text-center" *ngIf="hideRegisterButton()">
         
      <button  class="btn btn-primary btn-lg mr-3 text-light" (click)="registerToggle()">Register</button>
      
    </div>
   </div>
  
  
</div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center" >
        <div class="col-4">
            <app-register (cancelRegister)= "cancelRegisterMode($event)"></app-register>
        </div>
    </div>
  
</div>


