
<div class="container mt-5">
    <div class="row">
       
        <div class="col-3 " id="searchbar">
            <div class="col-3  fixed-top mt-5 ml-3 " >
                <br><br>
                <p class="font-weight-bold" style="font-size:25px"> Filter By :</p>
                <ul>
                    <li>Name</li>
                    <li>Fuel Type</li>
                    <li>Transmission Type</li>
                </ul>
    
               <div class="search-product">
                   <input class="form-control"
                   type="text"
                   name="search" [(ngModel)]="search" autocomplete="off"
                   placeholder="Search for a Car">
               </div>
            </div>
        </div>
        <div class="col-9 ">
            
           <div *ngFor="let value of carValues | filter:search">
            <div class="jumbotron " *ngIf="value.a_IS_AVAILABLE">
                <div class="row" >
                    <div class="col-2 ">
                        <i class="fa fa-car fa-4x" ></i>
                    </div>
                    <div class="col-5 ">
                        <div class="font-weight-bold text-capitalize" style="font-size:30px">
                            {{value.a_COMPANY}}  {{value.a_MODEL}}
                        </div>
                        <hr>
                        <div class="text-uppercase">
                            <img src="https://icon-library.com/images/fuel-icon-png/fuel-icon-png-8.jpg" width="20" height="20" class="mr-1">
                            {{value.a_FUEL_TYPE}}     
                            <img src="https://static.thenounproject.com/png/205474-200.png" width="20" height="20" class="mr-1 ml-1">
                            {{value.a_TRANSMISSION}}    
                            <img src="https://www.iconfinder.com/data/icons/car-engine-dashboard-lights-solid-style-set-2/91/Car_Engine_-_Dashboard_Lights_76-512.png" width="20" height="20" class="mr-1 ml-1">
                            {{value.a_NUMBER_OF_SEATS}}  
                        </div>
                    </div>
                    <div class="col-3 font-weight-bold">
                        <i class="fa fa-inr"></i> {{value.a_PRICE}} / month
                    </div>
                    <div>
                        <button class="btn btn-success btn-large"  [routerLink]="['/car', value.a_ID]"  >View Car</button>
                    </div>
                   
                </div>
                
                

            </div>
           </div>
            
        </div>
    </div>
</div>

